<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets">  
  
    <h:head>  
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
		href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	</link>
	<!-- Optional theme -->
	<link rel="stylesheet"
		href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	</link>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/personalizado.css" />
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<title>EstacioneAki</title>
    </h:head>  
      
    <h:body>  
  <div class="col-md-2">
  </div>
  <div class="col-md-8">

    <div class="panel panel-default" align="center">
			<div class="panel-body">
			<h:graphicImage alt="EstacioneAki"
							url="imagens/logo_estacioneaki.png" id="Logo" />
								
			<h:form class="form-horizontal" role="form">
			  <div class="panel-heading"><h1>Cadastro de Cliente</h1></div>
			  <br/>
				<h4><h:outputLabel value="#{cadastroClienteBean.msg}"/></h4>
			  <h:messages errorStyle='color: red'/>	
			<div class="input-group input-group-lg">
  				<span class="input-group-addon">Nome Completo: *</span>
  				<h:inputText required="true" requiredMessage="Campo Nome é Obrigatório" class="form-control" value="#{cadastroClienteBean.cliente.nome}"/>
			</div>
			<br/>
			<div class="input-group input-group-lg">
  				<span class="input-group-addon">CPF: *</span>
  				
  				<h:inputText id="cpf" label="CPF" immediate="true" 
  				requiredMessage="Campo CPF é Obrigatório" required="true"  class="form-control" value="#{cadastroClienteBean.cliente.CPF_CNPJ}"
  				maxlength="11" validator="#{cadastroClienteBean.validadorCPF}">
<!-- 				<f:validator validatorId="br.com.each.usp.validator.ValidadorCPF"/> -->
				
  				</h:inputText>
  			
			</div>
		
			<br/>
			<div class="input-group input-group-lg">
  				<span class="input-group-addon">Senha: *</span>
  				<h:inputSecret  required="true" requiredMessage="Campo Senha é Obrigatório" class="form-control" value="#{cadastroClienteBean.cliente.senha}"/>
			</div>
			<br/>
			
			
			<div class="input-group input-group-lg">
  				<span class="input-group-addon">Telefone: *</span>
  				<h:inputText  required="true" class="form-control" requiredMessage="Campo Telefone é Obrigatório" value="#{cadastroClienteBean.cliente.telefone}"/>
			</div>
			<br/>
			<div class="input-group input-group-lg">
  				<span class="input-group-addon">Placa do Carro: *</span>
  				<h:inputText  required="true" class="form-control"  requiredMessage="Campo Placa do Carro é Obrigatório" value="#{cadastroClienteBean.veiculo.placa}"/>
			</div>
			<br/>
			<div class="input-group input-group-lg">
  				<span class="input-group-addon">Cor do Carro: *</span>
  				<h:inputText required="true"  class="form-control" requiredMessage="Campo Cor do Carro é Obrigatório" value="#{cadastroClienteBean.veiculo.cor}"/>
			</div>
			
			<br/>
			<div class="input-group input-group-lg">
  				<span class="input-group-addon">Marca do Carro: *</span>
  				<h:inputText  required="true" class="form-control" requiredMessage="Campo Marca do Carro é Obrigatório" value="#{cadastroClienteBean.veiculo.marca}"/>
			</div>
			<br/>
			<div class="input-group input-group-lg">
  				<span class="input-group-addon">Modelo do Carro: *</span>
  				<h:inputText required="true" class="form-control" requiredMessage="Campo Modelo do Carro é Obrigatório" value="#{cadastroClienteBean.veiculo.modelo}"/>
			</div>
			<br/>
			
			
			<h4>* campos obrigatórios</h4>
			<br/>
			<h:commandLink id="cadastrar" value="Cadastrar" class="btn btn-primary btn-lg btn-block"   actionListener="#{cadastroClienteBean.save}"  />
			<h:commandLink id="cancelar" value="Cancelar" class="btn btn-danger btn-lg btn-block"   actionListener="#{cadastroClienteBean.cancelar}" immediate="true"  />

			
			          
     	</h:form>
			</div>
	</div>
<div class="col-md-2">
  </div>
	</div>
      	
    </h:body>  
</html>  